body {
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("https://selab.hanyang.ac.kr/courses/cse326/2019/labs/images/3/blueTextureBG.jpg");
}

.maincontent {
    border: 10px solid white;
    background: white;
}

header {
    text-align: right;
    background: #1D2475;
    color: white;
}

.csm {
    font-size: 14px;
    color: #CCCCCC;
}

.topic {
    border-bottom: 2px dashed blue;
}

section {
    border: 4px solid #1D2475;
    border-radius: 15px;
    background: #99CCFF;
    padding: 5px;
    margin-top: 10px;
    text-align: justify;
    overflow: hidden;
}

section *:hover {
    background: #A6CE39;
}

.thingimg {
    float: right;
}

aside {
    margin-top: 10px;
    margin-right: 10px;
    padding: 5pt;
    border: solid 5px;
    border-radius: 15pt;
    width: 150px;
    float: left;
}

article {
    margin-left: 10px;
    overflow: hidden;
}

.foot {
    clear: both;
}